@model MyASPMVC.Models.MyModel
@{
    ViewBag.Title = "About";
}
<h1>@Model.Name</h1>
<h1>@Model.Phone</h1>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message <br />@ViewBag.ThuocTinh</h3>
<h4>@ViewBag.OB.Name</h4>
<h4>@ViewBag.OB.Phone</h4>

<p>Use this area to provide additional information.</p>
